body {
  background-color: #000000;
  display: flex;
  color: #ffffff;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

h1 {
  display: flex;
  text-align: center;
  color: #ffffff;
  width: 100%;
  font-family: "Source Code", "Courier New", Courier, monospace;
  width: 65%;
  margin-bottom: 2em;
  margin-top: 5em;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 28px;
  font-family: "Source Code", "Courier New", Courier, monospace;
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
  border-width: 5px;
  border-color: #ffffff;
}

a:hover {
  color: red;
}

.erneut {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.startscreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.broken {
  width: 25%;
  height: auto;
  margin-top: 3em;
}

.cam1 {
  position: absolute;
  left: 610px;
  top: 421px;
  width: 780px;
  animation-name: Cam1;
  animation-duration: 3s;

  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.cam2 {
  position: absolute;
  left: 750px;
  top: 440px;
  width: 900px;
  animation-name: Cam2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes Cam1 {
  0% {
    transform: translateY(0px);
    transform: translateX(0px);
  }
  10% {
    transform: translateY(0px);
    transform: translateX(0px);
  }
  50% {
    transform: translateY(50px);

    transform: rotate(-10deg);
  }
  100% {
    transform: translateY(5px);
    transform: rotate(-10deg);
  }
}

@keyframes Cam2 {
  0% {
    transform: translateY(0px);
    transform: translateX(0px);
  }
  10% {
    transform: translateY(0px);
    transform: translateX(0px);
  }
  50% {
    transform: translateY(50px);

    transform: rotate(-10deg);
  }
  100% {
    transform: translateY(5px);
    transform: rotate(-10deg);
  }
}
