body {
  background-image: url(../assets/goodend.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  height: 820px;
  width: 1440px;
}

.box {
  word-break: normal;
  color: white;
  font-family: "Source Code Pro", monospace;
  position: absolute;
  font-size: 14px;
  left: 855px;
  top: 30px;
  overflow: hidden;
  border: 8px solid white;
  background-color: black;
  padding: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 490px;
  height: 650px;
}

.endText {
  display: none;
  margin-bottom: -10px;
}
