* {
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-color: black;
}
.mob1 {
  position: absolute;
  left: 120px;
  top: 370px;
}
.mob2 {
  position: absolute;
  left: 90px;
  top: 160px;
}
.mob3 {
  position: absolute;
  left: 290px;
  top: 70px;
}
.mob4 {
  position: absolute;
  left: 360px;
  top: 80px;
}
.mob5 {
  position: absolute;
  left: 720px;
  top: 10px;
}
.mob6 {
  position: absolute;
  left: 110px;
  top: 160px;
}
.mob7 {
  position: absolute;
  left: 1180px;
  top: 320px;
}
p {
  word-break: normal;
  color: white;
  font-family: "Source Code Pro", monospace;
  position: absolute;
  font-size: 18px;
  left: 370px;
  top: 480px;
  overflow: hidden;
  border: 5px solid white;
  background-color: black;
  padding: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-right: 120px;
  width: 550px;
  height: 220px;
}
.arrow {
  position: relative;
  top: 600px;
  left: 1100px;
}
