body {
  display: flex;
  background-color: #000000;
  height: 100%;
  width: 100%;
  font-family: "Source Code", "Courier New", Courier, monospace;
}

.bg {
  background-image: url(../assets/bg_desk.png);
  height: 820px;
  width: 1440px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  z-index: 1;
}

.pctext {
  z-index: 2;
  margin-top: 320px;
  margin-left: 610px;
  color: white;
  width: 300px;
}

.pclist {
  width: 300px;
}

.pclist li {
  display: none;
}

/* ################################# ORDNER ########################################## */

.ordner {
  display: flex;
  z-index: 2;
  flex-wrap: nowrap;
}

.ordner1 {
  height: 150px;
  width: 50px;
  z-index: 3;
  margin-left: 30px;
  margin-top: 350px;
}

.ordner2 {
  height: 150px;
  width: 50px;
  z-index: 4;
  margin-left: 10px;
  margin-top: 350px;
}

.ordner3 {
  height: 150px;
  width: 50px;
  z-index: 4;
  margin-left: 10px;
  margin-top: 350px;
}

.ordner4 {
  height: 150px;
  width: 50px;
  z-index: 4;
  margin-left: 10px;
  margin-top: 350px;
}

.ordner5 {
  height: 150px;
  width: 50px;
  z-index: 4;
  margin-left: 10px;
  margin-top: 350px;
}

.ordner5:hover {
  transform: scale(1.1);
}

.rotated-image {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 150px;
  width: 50px;
  z-index: 5;
  margin-top: 400px;
  margin-left: 10px;
}

/* ################################# PAPIERE ########################################## */

.papiere {
  display: flex;
  z-index: 6;
  position: relative;
}

.papier1 {
  z-index: 7;
  margin-left: -220px;
  margin-top: 570px;
  height: 70px;
  width: 120px;
}

.papier1:hover,
.papier2:hover,
.papier3:hover,
.papier4:hover,
.papier5:hover,
.papier6:hover,
.papier7:hover,
.papier8:hover,
.papier9:hover,
.papier10:hover,
.papier11:hover,
.papier12:hover,
.papier13:hover,
.papier14:hover,
.papier15:hover,
.papier16:hover {
  transform: scale(1.1);
}

.papier2 {
  z-index: 7;
  margin-left: -170px;
  margin-top: 520px;
  height: 90px;
  width: 110px;
  position: absolute;
}

.papier3 {
  z-index: 7;
  margin-left: 30px;
  margin-top: 550px;
  height: 80px;
  width: 70px;
  position: absolute;
}

.papier4 {
  z-index: 7;
  margin-left: -35px;
  margin-top: 500px;
  height: 80px;
  width: 90px;
  position: absolute;
}

.papier5 {
  z-index: 7;
  margin-left: -35px;
  margin-top: 580px;
  height: 80px;
  width: 100px;
  position: absolute;
}

.papier6 {
  z-index: 7;
  margin-left: -1035px;
  margin-top: 580px;
  height: 80px;
  width: 100px;
  position: absolute;
}

.papier7 {
  z-index: 7;
  margin-left: -850px;
  margin-top: 600px;
  height: 80px;
  width: 100px;
  position: absolute;
}
.papier8 {
  z-index: 7;
  margin-left: -900px;
  margin-top: 500px;
  height: 80px;
  width: 100px;
}
.papier9 {
  z-index: 7;
  margin-left: -1100px;
  margin-top: 530px;
  height: 80px;
  width: 100px;
  position: absolute;
}
.papier10 {
  z-index: 7;
  margin-left: -1050px;
  margin-top: 500px;
  height: 80px;
  width: 100px;
  position: absolute;
}
.papier11 {
  z-index: 7;
  margin-left: -940px;
  margin-top: 490px;
  height: 80px;
  width: 100px;
  position: absolute;
}
.papier12 {
  z-index: 7;
  margin-left: -920px;
  margin-top: 550px;
  height: 80px;
  width: 100px;
  position: absolute;
}
.papier13 {
  z-index: 7;
  margin-left: -100px;
  margin-top: 510px;
  height: 80px;
  width: 100px;
  position: absolute;
}
.papier14 {
  z-index: 7;
  margin-left: -1120px;
  margin-top: 620px;
  height: 80px;
  width: 100px;
  height: 70px;
  width: 120px;
  position: absolute;
}
.papier15 {
  z-index: 7;
  margin-left: -90px;
  margin-top: 610px;
  height: 80px;
  width: 100px;
  position: absolute;
}
.papier16 {
  z-index: 7;
  margin-left: -950px;
  margin-top: 610px;
  height: 80px;
  width: 100px;
  position: absolute;
}

#postits {
  position: absolute;
  display: none;
}
.postits {
  z-index: 6;
}
/*white*/
.postit1 {
  z-index: 7;
  margin-left: 100px;
  margin-top: 170px;
  height: 50px;
  width: 50px;
  position: absolute;
}

.postit4 {
  z-index: 7;
  margin-left: 120px;
  margin-top: 250px;
  height: 50px;
  width: 50px;
  position: absolute;
}

.postit5 {
  z-index: 7;
  margin-left: 180px;
  margin-top: 210px;
  height: 50px;
  width: 50px;
  position: absolute;
}

.postit6 {
  z-index: 7;
  margin-left: 340px;
  margin-top: 220px;
  height: 50px;
  width: 50px;
  position: absolute;
}
.postit7 {
  z-index: 7;
  margin-left: 290px;
  margin-top: 140px;
  height: 50px;
  width: 50px;
  position: absolute;
}

/*Green*/
.postit2 {
  z-index: 7;
  margin-left: 200px;
  margin-top: 290px;
  height: 50px;
  width: 50px;
  position: absolute;
}
/*Red*/
.postit3 {
  z-index: 7;
  margin-left: 280px;
  margin-top: 280px;
  height: 50px;
  width: 50px;
  position: absolute;
}

#PostIt1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#PostIt2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#PostIt3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#PostIt4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#PostIt5 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#PostIt6 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#PostIt7 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
/* ################################# PAPIERE ENTSCHEIDUNGEN ########################################## */

#myImg,
#myImg2,
#myImg3,
#myImg4,
#myImg5,
#myImg6,
#myImg7,
#myImg8,
#myImg9,
#myImg10,
#myImg11,
#myImg12,
#myImg13,
#myImg14,
#myImg15,
#myImg16 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover,
#myImg2:hover,
#myImg3:hover,
#myImg4:hover,
#myImg5:hover,
#myImg6:hover,
#myImg7:hover,
#myImg8:hover,
#myImg9:hover,
#myImg10:hover,
#myImg11:hover,
#myImg12:hover,
#myImg13:hover,
#myImg14:hover,
#myImg15:hover,
#myImg16:hover {
  opacity: 0.7;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
  margin-left: 420px;
  position: absolute;
  margin-top: -50px;
  display: block;
  width: 80%;
  max-width: 600px;
}

/* Add Animation - Zoom in the Modal */

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */

.close,
.close2,
.close3,
.close4,
.close5,
.close6,
.close7,
.close8,
.close9,
.close10,
.close11,
.close12,
.close13,
.close14,
.close15,
.close16,
.closepostit1,
.closepostit2,
.closepostit3,
.closepostit4,
.closepostit5,
.closepostit6,
.closepostit7 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus,
.close5:hover,
.close5:focus,
.close6:focus,
.close7:focus,
.close8:focus,
.close9:focus,
.close10:focus,
.close11:focus,
.close12:focus,
.close13:focus,
.close14:focus,
.close15:focus,
.close16:focus,
.closepostit1:hover,
.closepostit1:focus,
.closepostit2:hover,
.closepostit2:focus,
.closepostit3:hover,
.closepostit3:focus,
.closepostit4:hover,
.closepostit4:focus,
.closepostit5:hover,
.closepostit5:focus,
.closepostit6:hover,
.closepostit6:focus,
.closepostit7:hover,
.closepostit7:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ################################# PAPIERE ENTSCHEIDUNGEN CHECKBOXEN ########################################## */

.checkboxes {
  margin-top: -70px;
  color: #000;
  font-family: "Source Code", "Courier New", Courier, monospace;
}

.checkboxes1 {
  margin-top: 590px;
  margin-left: -40px;
}
.checkboxes2 {
  margin-top: 450px;
  margin-left: -40px;
}
.checkboxes3 {
  margin-top: 535px;
  margin-left: -40px;
}
.checkboxes4 {
  margin-top: 530px;
  margin-left: -40px;
}
.checkboxes5 {
  margin-top: 500px;
  margin-left: -45px;
}
.checkboxes6 {
  margin-top: 380px;
  margin-left: -40px;
}
.checkboxes7 {
  margin-top: 450px;
  margin-left: -40px;
}
.checkboxes8 {
  margin-top: 380px;
  margin-left: -40px;
}
.checkboxes9 {
  margin-top: 580px;
  margin-left: -40px;
}
.checkboxes10 {
  margin-top: 450px;
  margin-left: -40px;
}
.checkboxes11 {
  margin-top: 340px;
  margin-left: -40px;
}
.checkboxes12 {
  margin-top: 450px;
  margin-left: -45px;
}
.checkboxes13 {
  margin-top: 380px;
  margin-left: -40px;
}
.checkboxes14 {
  margin-top: 460px;
  margin-left: -40px;
}
.checkboxes15 {
  margin-top: 420px;
  margin-left: -40px;
}
.checkboxes16 {
  margin-top: 350px;
  margin-left: -40px;
}

.container {
  display: block;
  position: relative;
  padding-left: 550px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 500px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.container input:checked ~ .checkmark {
  background-color: #b22222;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bestaetigen a {
  text-decoration: none;
  color: #b22222;
  z-index: 2;
  margin-left: -580px;
  margin-top: 450px;
  position: absolute;
  display: none;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  margin-top: 30px;
  margin-left: 1100px;
  background-color: #307952 !important;
  transition: all 0.7s;
  height: 40px;
}
progress::-moz-progress-bar {
  /* for FF ::progress-bar is the value bar */
  background-color: #307952 !important;
  transition: all 0.7s;
}
