* {
  margin: 0;
  padding: 0;

  background-color: black;
}

h1 {
  color: aliceblue;
  font-family: "Source Code Pro", monospace;
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.cam1 img {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  right: 0px;
}

.cam2 img {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 230px;
}
.cam3 img {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  right: 0px;
  width: 230px;
}
.cam4 img {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 0px;
  width: 230px;
}

.button {
  font-family: "Source Code Pro", monospace;
  border: 2px;
  border-style: solid;
  border-color: aliceblue;
  color: white;

  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 0px;
  width: 230px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 25%;
  margin-left: 43%;
  transform-origin: center bottom;

  animation-name: button;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes button {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  28% {
    transform: scaleX(1.1) scaleY(1.1);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}
