body {
  display: flex;
  background-color: #000000;
  height: 100%;
  width: 100%;
  font-family: "Source Code", "Courier New", Courier, monospace;
}

.bg {
  background-image: url(../assets/itter.png);
  height: 820px;
  width: 1000px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  z-index: 1;
  margin-left: 200px;
}

p {
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  margin: 10px;
}

.weiterpfeil {
  height: 80px;
  margin-left: 250px;
  margin-top: 700px;
}

.posts {
  z-index: 9;
  margin-left: 450px;
  margin-top: 210px;
}

.gps,
.datenhinterlegung,
.jakrankenkasse,
.jakonzerne,
.jareise,
.gesichtserkennung,
.waermebild,
.jakameras,
.waermebildgesichtserkennung,
.realestate,
.jobfield,
.deposit,
.vpn,
.pets,
.securitypolice,
.education,
.loans,
.blacklist,
.bureaucracy,
.cybertracking,
.cybertrackingandscore {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  z-index: 10;
  width: 440px;
  height: 75px;
  display: none;
}
